@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html {
  scroll-behavior: smooth !important;
}

@layer base {
  body {
    @apply bg-[#ecf0f3] text-gray-700 tracking-wide;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply text-5xl sm:text-6xl md:text-7xl;
  }

  h2 {
    @apply text-4xl sm:text-5xl;
  }

  li {
    @apply cursor-pointer;
  }
  button,
  .button {
    @apply shadow-md shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-sky-400/80 to-sky-600 text-white hover:scale-105 duration-300 ease-in;
  }
  .projectgradient {
    background: linear-gradient(to right, #ecf0f3, #616161);
    background-attachment: fixed;
    background-size: 200% 100%;
  }
  .connect-btn {
    @apply button rounded-full shadow-md shadow-gray-500 p-3 cursor-pointer hover:scale-110 ease-in duration-200
  }
}
